:root {
  --project-font: "IBM Plex Mono", monospace;
  --project-background-color: rgba(228, 179, 195, 0.1);
  --project-button-color: #e4b3c3cc;
}

h1 {
  font-weight: 300;
  font-size: 100px;
  margin-left: 20px;
}

h2 {
  font-weight: 100;
  font-size: 50px;
  margin-left: 26px;
  padding-top: 20px;
  text-align: left;
}

h3 {
  font-family: var(--project-font);
  font-weight: 100;
  font-size: 40px;
}

p {
  font-weight: 100;
  font-size: 20px;
  margin-left: 35px;
}

hr {
  color: rgba(228, 179, 195, 255);
  border-top: 1px solid #ad7886;
}

.personal-info {
  font-family: var(--project-font);
  background: var(--project-background-color);
  margin: 90px 45px 125px 50px;
  padding: 85px 6px 25px 28px;
}

.lisbon {
  width: 100%;
  height: 330px;
  background-size: cover !important;
  padding: 70px 0px 0px 0px;
  opacity: 0.8;
}

.skill-set {
  font-family: var(--project-font);
  font-weight: 100;
  text-align: center;
}

.skill-logos {
  font-size: 60px;
  padding-top: 35px;
}

.skill-set h2 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.logos-names {
  margin: 0;
}

.language-set {
  font-weight: 100;
  font-size: 20px;
  margin-left: 35px;
  font-family: var(--project-font);
}

.language-set h2 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  margin: 0;
}

.contact-me {
  background: var(--project-background-color);
  display: flex;
  justify-content: space-evenly;
  margin: 30px 180px 30px 180px;
  padding: 40px 15px 40px 15px;
}

.contact-me-button {
  font-weight: 100;
  font-size: 20px;
  font-family: var(--project-font);
  padding: 15px 15px 15px 15px;
  background: var(--project-button-color);
  color: white;
  border-color: white;
}

.contact-me-button:hover {
  background: #fff;
  border-color: var(--project-button-color);
  color: var(--project-button-color);
  font-weight: 300;
}

.content-header {
  text-align: center;
  font-family: var(--project-font);
  background: var(--project-background-color);
  margin: 40px 180px 20px 150px;
  padding: 5px 29px 5px 3px;
}

.content-header h2 {
  text-align: center;
  font-family: var(--project-font);
}

.display-certifications h2 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.my-picture {
  max-width: 500px;
  margin: 40px 0px 30px 70px;
}

.get-to-know-me {
  text-align: justify;
  margin: 36px 0px 30px 0px;
  padding: 0px 47px 3px 89px;
}

.black-white-pic {
  max-width: 450px;
  margin: 75px 12px 22px 78px;
}

.book-reading-project {
  margin-left: 130px;
  margin-top: 80px;
}

.book-reading {
  width: 300px;
}

.project-content {
  text-align: justify;
}

.view-button {
  font-weight: 100;
  font-size: 20px;
  font-family: var(--project-font);
  padding: 15px 15px 15px 15px;
  background: var(--project-button-color);
  color: white;
  border-color: white;
  margin: 0px 110px 0px 10px;
}

.view-button:hover {
  background: #fff;
  border-color: var(--project-button-color);
  color: var(--project-button-color);
  font-weight: 300;
}

form {
  background: var(--project-background-color);
  width: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 40px;
  margin: 10px;
}

label,
input,
textarea {
  display: block;
  font-weight: 100;
  font-size: 15px;
  font-family: var(--project-font);
  width: 100%;
  padding: 10px;
}

.contact-options {
  font-family: var(--project-font);
  text-align: center;
  color: var(--project-button-color);
  margin-top: 50px;
}

.contact-widgets {
  display: block;
  margin: 0 auto;
  font-size: 40px;
  color: var(--project-button-color);
  padding: 15px;
}

.contact-links {
  color: #000;
  font-weight: 100;
}

.contact-links:hover {
  color: var(--project-button-color);
}

.logo {
  max-width: 140px;
}

nav {
  padding: 5px 0px 0px 0px;
  background-color: var(--project-background-color);
  position: fixed;
  z-index: 9;
  width: 100%;
}

nav ul {
  padding: 0px 60px 0px 0px;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 65px;
  margin-left: 90px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-family: var(--project-font);
  font-weight: 100;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--project-button-color);
}

footer {
  text-align: center;
  padding: 10px;
}

footer .authors-note {
  font-weight: 100;
  font-size: 16px;
  padding-right: 50px;
  margin-top: 25px;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  color: var(--project-button-color);
}

footer .social-links a {
  color: var(--project-button-color);
  font-size: 35px;
  padding: 20px 24px;
  border-radius: 50%;
  margin: 0 30px 0px 30px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #fff;
  background-color: var(--project-button-color);
}

@media (max-width: 1300px) {
  .personal-info {
    padding: 0;
    display: center;
  }
  .content-header {
    margin: 20px 0 0 0;
    display: center;
  }
  .content-header h1 {
    text-align: center;
  }
  h1 {
    font-size: 50px;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  p {
    font-size: 15px;
    text-align: center;
  }
  h3 {
    font-size: 25px;
  }
  .contact-me {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--project-background-color);
    padding: 0 0 10px 0;
    margin: 0;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 20px;
  }
  div .contact-me-button {
    font-size: 12px;
    padding: 5px;
  }
  .lisbon {
    padding: 70px 0px 0px 0px;
    margin: 0;
    width: 100%;
    height: 300px;
    background-size: cover !important;
  }
  .get-to-know-me {
    padding: 0 35px 0 0;
    margin: 0;
  }
  form {
    margin: 0;
  }
  nav li {
    margin-left: 30px;
    margin-right: 0;
    text-align: left;
  }
  div .project-description h3 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  div .project-description p {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  div .book-reading-project {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 80px;
  }
  div .book-reading-project p {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  div .view-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
    width: 150px;
  }
  footer {
    padding: 0;
  }
  footer .social-links a {
    font-size: 20px;
  }
}
